/* Style for the top games section */
#top-games .stats-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.game-details {
    font-size: 1.2em;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .stats-container {
        flex-direction: column;
    }

    #games-container {
        flex-direction: column;
        align-items: center;
    }

    .game-card {
        width: 90%;
    }

    #top-games .stats-card {
        width: 90%;
    }
}

@media (max-width: 480px) {
    #num-contributions, #total-raised, #num-games {
        font-size: 30px;
    }
}
